fastapi
uvicorn[standard]
requests
pydantic
prometheus-fastapi-instrumentator
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlite3
